/*css styles*/

h1, h2, h3 {
	margin: 0px;
	padding:0px;
}

.body{
	/*border: 1px solid;*/
	margin: 10px;
	font-family:lato;
}

.header{
	height:30px;
}

.content{
	min-height: 200px;
	/*background-color: red;*/
    padding: 10px;
}

.footer{
	height: 50px;
	background-color: yellow;
}

#fieldErrors .errorMessage{
    color: black;
}

/*Adding styles to reduce the header size
and removing border for panel*/
.navbar-nav>li>a {
	padding-top: 5px !important;
	padding-bottom: 5px !important;
}

.navbar {
	min-height: 32px !important
}

.navbar-brand {
	height: 30px !important;
	padding: 5px 15px 0px 15px !important;
}

.navbar-right{
	padding-top:6px;	
}

.panel.panel-defaul{
	border-color:#fff !important;
}

/*End of header and panel change*/
